html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, Poppins, sans-serif;
    --converse-color: #00c8e8;
    --secondary-screaming-color: #00f44f;
    --background-color: #14142b;
  
    --basic-font-size: 18px;
    background-color: var(--background-color);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: #fff;
      background: var(--background-color)
  }
}

a {
  color: var(--converse-color);
}
